<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<!-- Standard output appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!-- %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n -->
			<Pattern>%d{HH:mm:ss.SSS} [%50.50t] %-50.50c{1} %-5p %m%n</Pattern>
		</layout>
	</appender>

	<logger name="org.kie" level="debug" />
	<logger name="org.jboss.weld" level="debug" />
	<logger name="eu.europa.ema" level="debug" />

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>