<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<!-- Standard output appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!-- %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n -->
			<Pattern>%d{HH:mm:ss.SSS} [%50.50t] %-50.50c{1} %-5p %m%n</Pattern>
		</layout>
	</appender>
	
	<!-- LogStash appender. The logs are sent by tcp to Logstash -->
	<appender name="LOGSTASH" class="eu.europa.ema.log.LogStashSocketAppender">
		<remoteHost>localhost</remoteHost>
		<port>6000</port>
		<reconnectionDelay>10000</reconnectionDelay>
		<includeCallerData>false</includeCallerData>
		<encoder class="eu.europa.ema.log.LogStashEncoder">
			<IncludeCallerInfo>true</IncludeCallerInfo>			
		</encoder>
	</appender>		
		
<!--  
	
	Define the timestamp for the filename
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />
	
	This appender writes the JSON logs in a file. The example is from https://github.com/logstash/logstash-logback-encoder
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<file>results-${bySecond}.log</file>
		<append>true</append>
		<layout class="ch.qos.logback.classic.PatternLayout">	
			<Pattern>%d{HH:mm:ss.SSS} [%50.50t] %-50.50c{1} %-5p %m%n</Pattern>
		</layout>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<includeCallerInfo>true</includeCallerInfo>		
		</encoder>
	</appender>
	
	This logger is appending the logs only to STDOUT
	<logger name="eu.europa.ema.cr.backbone.scanner.impl" level="DEBUG" additivity="false"> 
		<appender-ref ref="STDOUT" /> 
	</logger> 
		
	This log logs everything for the package org.apache.cxf
	<logger name="org.apache.cxf" level="FINE" /> 
	
	This log logs only the warnings for the package org.springframework
	<logger name="org.springframework" level="WARN" /> 
		-->
	<logger name="org.kie" level="debug" />
	<logger name="org.jboss.weld" level="debug" />
	<logger name="eu.europa.ema" level="debug" />

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="LOGSTASH" />
	</root>
</configuration>