<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!-- %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n -->
			<Pattern>%d{HH:mm:ss.SSS} [%50.50t] %-50.50c{1} %-5p %m%n</Pattern>
		</layout>
	</appender>
<!--  	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<file>results-${bySecond}.log</file>
		<append>true</append>
		 encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default 
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>
	-->

	<!-- <logger name="eu.europa.ema.cr.backbone.scanner.impl" level="DEBUG" 
		additivity="false"> <appender-ref ref="STDOUT" /> </logger> <logger name="org.apache.cxf" 
		level="FINE" /> <logger name="org.springframework" level="WARN" /> -->
	<logger name="org.kie" level="debug" />
	<logger name="org.jboss.weld" level="debug" />
	<logger name="eu.europa.ema" level="debug" />

	<root level="info">
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="FILE" /> -->
	</root>
</configuration>